@use '@/styles/abstracts' as *;

.app {
  @include flex-center(column, var(--space-lg));

  min-height: 100%;
  padding: var(--space-lg) var(--space-md);
  text-align: center;
}

.title {
  margin-bottom: var(--space-lg);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: var(--space-md);
  gap: var(--space-md);
}
